@import 'font';
@import 'var';
$font: "Unbounded", sans-serif;

body{
  font-family: $font;
  font-weight: 400;
  background-color: #1F2023;
  color: $light;
}
a{
  text-decoration: none;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 71px;
  width: 100%;
  position: fixed;
  top: 0;
  &::before{
    content: '';
    display: block;
    height: 27px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: $accent;
  }
  &__logo{
    background-color: $accent;
    padding: 17px 45px 0 45px;
    border-radius: 10px 0 0 0;
    position: relative;
    &::after{
      content: '';
      display: block;
      width: 68px;
      height: 71px;
      background-image: url(../images/header-left.svg);
      position: absolute;
      right: -68px;
      top: 0;
    }
      &::before{
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      background-image: url(../images/header-bottom-left.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      left: 0;
      bottom: -24px;}
      }
  &__link{
    color: $light;
    background-color: $accent;
    font-size: 20px;
    padding: 17px 45px 0 45px;
    border-radius: 0 10px 0 0;
    position: relative;
    &::after{
      content: '';
      display: block;
      width: 68px;
      height: 71px;
      background-image: url(../images/header-right.svg);
      position: absolute;
      top: 0;
      left: -68px;
    }
      &::before{
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      background-image: url(../images/header-bottom-right.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      right: 0;
      bottom: -24px;
    }
  }
}
.container{
  width: 100%;
  max-width: 1830px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}
.banner{
  display: flex;
  background-image: url(../images/bg-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
  padding: 100px 50px;
  margin-top: 135px;
  gap: 50px;
  &__main{
    flex-basis: 61%;
  }
  &__info{
    flex-basis:calc(39% - 50px);
  }
  &__title{
    font-size: 64px;
    font-weight: 700;
    font-family: $font;
    line-height: 110%;
    margin-top: 0;
    margin-bottom: 20px;
  }
  &__main{
      margin-left: 50px;
    }
    &__btn{
  display: block;
  width: 100%;
  margin-top: 135px;
  border-radius: 20px;
  padding: 30px;
  background-color: $accent;
  font-weight: 600;
  font-size: 20px;
  color: $light;
  line-height: 110%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 1px solid $accent;
  transition: $tr;
    cursor: pointer;
    @media(hover:hover){
      &:hover{
        background-color: transparent;
      }
    }
  }
  &__item{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 151px;
    border: 1px solid $light;
    border-radius: 20px 0 0 20px;
    border-right: none;
    margin-right: 80px;
    position: relative;
    margin-bottom: 19px;
    &::after{
      display: block;
      content: '';
      background-image: url(../images/banner-info-decor.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 0;
      right: -80px;
      width: 80px;
      height: 151px;
    }
  &._accent{
    display: flex;
    justify-content: end;
    content: '';
    position: relative;
    background-color: $accent;
    align-self: flex-end;
    &::after{
        content: '';
        background-image: url(../images/banner-info-decor-accent.svg);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 0;
        right: -80px;
        width: 80px;
        height: 151px;
    &._offline{
      background-size: contain;
      background-repeat: no-repeat;
      position: relative;
      top: 20px;
      right: -80px;
      border: 1px solid $light;
      width: 50px;
      height: 50px;
      border-radius: 10px;
        }
      }
    }
  }
  &__decor{
    display: block;
    content: '';
    position: relative;
    &._calendar{
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: -150px;
      right: -80px;
      border: 1px solid $light;
      width: 50px;
      height: 50px;
      border-radius: 10px;
    }
    
    &._age{
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: -150px;
      right: -80px;
      border: 1px solid $light;
      width: 50px;
      height: 50px;
      border-radius: 10px;
    }
    &._payment{
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: -150px;
      right: -80px;
      border: 1px solid $light;
      width: 50px;
      height: 50px;
      border-radius: 10px;
    }

  }
}
.banner-box{
  position: relative;
  border: 1px solid $light;
  border-radius: 20px;
  padding: 30px 332px 30px 30px;
  &__title{
    font-size: 24px;
    line-height: 110%;
    font-weight: 400;
    padding-bottom: 12px;
    text-transform: uppercase;
    margin-top: 0;
    letter-spacing: 1.2px;
  }
  &__text{
  line-height: 150%;
  font-weight: 400;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 30px;
  }
  &__img{
  position: absolute;
  &._electroguitar{
  top: -18%;
  right: -5%;
  }
}
}

