@import 'font';
@import 'var';


body{
  font-family: $font;
  font-weight: 400;
  background-color: #1F2023;
  color: $light;
  overflow-x: hidden;
  line-height: 110%;
}
a{
  text-decoration: none;
}
.title-h2{
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 71px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  &::before{
    content: '';
    display: block;
    height: 27px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: $accent;
  }
  &__logo{
    background-color: $accent;
    padding: 17px 45px 0 45px;
    border-radius: 10px 0 0 0;
    position: relative;
    @media (max-width: $r_desk){
    padding: 17px 20px 0 20px;
  }
    &::after{
      content: '';
      display: block;
      width: 68px;
      height: 71px;
      background-image: url(../images/header-left.svg);
      position: absolute;
      right: -68px;
      top: 0;
    }
      &::before{
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      background-image: url(../images/header-bottom-left.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      left: 0;
      bottom: -24px;}
      }
      &__info{
        padding: 17px 45px 0 45px;
        border-radius: 0 10px 0 0;
        position: relative;
        background-color: $accent;
        @media (max-width: $r_desk){
        padding: 17px 20px 0 20px;
        }
        &::after{
      content: '';
      display: block;
      width: 68px;
      height: 71px;
      background-image: url(../images/header-right.svg);
      position: absolute;
      top: 0;
      left: -68px;
    }
      &::before{
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      background-image: url(../images/header-bottom-right.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      right: 0;
      bottom: -24px;
    }
      }
  &__link{
    color: $light;
    font-size: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid $light;
    transition: $tr;
    @media (hover: hover){
      &:hover{
        border-bottom: 1px solid $accent;
      }
    }
    
  }
}
.logo{
  &._max{
    svg{
      width: 400px;
      height: 30.63px;
    }
  }
  &._min{
    svg{
      width: 296px;
      height: 22px;
    }
  }
}
.container{
  width: 100%;
  max-width: 1830px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  @media (max-width: $r_desk){
    padding-left: 20px;
    padding-right: 20px;
  }
}
.banner{
  display: flex;
  background-image: url(../images/bg-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
  padding: 100px 50px;
  margin-top: 135px;
  gap: 50px;
  &__main{
    flex-basis: 61%;
  }
  &__info{
    flex-basis:calc(39% - 50px);
  }
  &__title{
    font-size: 64px;
    font-weight: 700;
    font-family: $font;
    margin-top: 0;
    margin-bottom: 20px;
    line-height:110%
  }
  &__main{
      margin-left: 50px;
    }
    &__btn{
  display: block;
  width: 100%;
  margin-top: 145px;
  border-radius: 20px;
  padding: 30px;
  background-color: $accent;
  font-weight: 600;
  font-size: 20px;
  color: $light;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 1px solid $accent;
  transition: $tr;
    cursor: pointer;
    @media(hover: hover){
      &:hover{
        background-color: transparent;
      }
    }
  }
  &__item{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 151px;
    border: 1px solid $light;
    border-radius: 20px 0 0 20px;
    border-right: none;
    margin-right: 80px;
    position: relative;
    margin-bottom: 19px;
    box-sizing: border-box;
    transition: $tr;
    overflow: visible;
    z-index: 1;

    @media (hover: hover){
      &:hover{
      &::before{
        width: 100%;
        transform: scale(1);
        opacity: 1;
      }
      .banner__decor{
        background-color: $accent;
        border-color: $accent;
        &::after{
        opacity: 1;
        transform: scale(1);
        }
      }
      }
    }
    &::before{
      content: '';
      display: block;
      width: 0;
      height: 151px;
      background-color: $accent;
      border-left: 1px solid $accent;
      position: absolute;
      top: -1px;
      right: 0;
      border-radius: 20px 0 0 20px;
      z-index: -1;
      opacity: 0;
      transition: $tr;
      transform: scale(0);
      transform-origin: top right;
    }
    

    
  }
  &__text{
      font-weight: 200;
      font-size: 24px;
      padding: 30px;
      margin: 0;
      line-height: 110%;
      span{
        display: block;
        font-weight: 700;
        font-size: 32px;
        margin-top: 20px;
      }
    }
  &__decor{
    display: flex;
    content: '';
    position: relative;
    transition: $tr;
    &::before{
      display: block;
      content: '';
      background-image: url(../images/banner-info-decor.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: -150px;
      right: -80px;
      width: 80px;
      height: 151px;
    }

    &::after{
      display: block;
      content: '';
      transform: scale(0);
      transform-origin: top left;
      background-image: url(../images/banner-info-decor-accent.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: -150px;
      right: -80px;
      width: 80px;
      height: 151px;
      opacity: 0;
      transition: $tr;
    }
    &._calendar{
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: -150px;
      right: -80px;
      border: 1px solid $light;
      width: 50px;
      height: 50px;
      border-radius: 10px;
    }
    &._offline{
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: -150px;
      right: -80px;
      border: 1px solid $light;
      width: 50px;
      height: 50px;
      border-radius: 10px;
    }
    &._age{
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: -150px;
      right: -80px;
      border: 1px solid $light;
      width: 50px;
      height: 50px;
      border-radius: 10px;
    }
    &._payment{
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: -150px;
      right: -80px;
      border: 1px solid $light;
      width: 50px;
      height: 50px;
      border-radius: 10px;}
    }
  }
.banner-box{
  position: relative;
  border: 1px solid $light;
  border-radius: 20px;
  padding: 30px 332px 30px 30px;
  &__title{
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 12px;
    text-transform: uppercase;
    margin-top: 0;
    letter-spacing: 1.2px;
  }
  &__text{
  line-height: 150%;
  font-weight: 400;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 30px;
  }
  &__img{
  position: absolute;
  &._electroguitar{
  top: -25%;
  right: -3%;
  }
}
}

.tag{
  display: flex;
  gap: 64px;
  white-space: nowrap;
  animation: move-left 20s linear infinite;
  @media (hover: hover){
  &:hover{
    animation-play-state: paused;
  }}
  &__text{
    border: 1px solid $light;
    border-radius: 50px;
    width: 100%;
    padding: 10px 20px;
    position: relative;
    font-size: 24px;
    font-weight: 100;
    &::before{
      content: '';
      display: block;
      background-color: $accent;
      width: 16px;
      height: 16px;
      position: absolute;
      border-radius: 100%;
      left: -40px;
      top: calc(50% - 8px);
    }
  }
}
@keyframes move-left {
  0% {
    transform: translate(125%, 0);
  }
  100% {
    transform: translate(-155%, 0);
  }
}
.course{
  display: flex;
  gap: 70px;
  width: 100%;
  &__title{
    flex-basis: 395px;
  }
  &__content{
    flex-basis: calc(100% - 395px - 70px);
    width: calc(100% - 395px - 70px);
    
  }
}
.course-control{
  display: flex;
  align-items: center;
  gap: 20px;
  &__prev, &__next{
    width: 70px;
    height: 70px;
    display: block;
    border: 1px solid $light;
    border-radius: 100%;
    position: inherit;
    display: flex;
    align-items: center;
    background-color: transparent;
    transition: $tr;
    right: inherit;
    left: inherit;
    margin-top: 20px;
    &::after{
      content: '';
      display: flex;
      align-items: center;
      gap: 20px;
      width: 49px;
      height: 24px;
      background-repeat: no-repeat;
      background-size: contain;
    }
    @media (hover: hover){
    &:hover{
      background-color: $accent;
      border-color: $accent;
    }
  }
  }
  &__prev{
    &::after{background-image: url(../images/ui/arrow-prev.svg);
      position: inherit;
    }
  }
  &__next{
    &::after{background-image: url(../images/ui/arrow-next.svg);
      position: inherit;
    }
  }
}

.slider-teacher{
  &__item{
    height: 707px;
    background-color: $dark;
    border: 1px solid $dark;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    transition: $tr;
   @media (hover: hover){
    &:hover{
      border: 1px solid $accent;
      .slider-teacher__name, .slider-teacher__grid{
        opacity: 1;
      }
    }
   }
  }
  &__grid{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: $tr;
    opacity: 0;
  }
  &__img{
    width: 100%;
    height: 637px;
    object-fit: cover;
    position: absolute;
    bottom: 0;
  }
  &__name{
    position: absolute;
    width: 100%;
    bottom: 30px;
    left: 30px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 24px;
    opacity: 0;
    transition: $tr;
    z-index: 1;
    &::before{
      content: '';
      display: block;
      width: 100%;
      height: 637px;
      background: linear-gradient(42deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.00) 59.08%);
      background-repeat: no-repeat;
      position: absolute;
      left: -30px;
      bottom: -30px;
      z-index: -1;
    }
  }
}
.accordion{
  &__btn{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 20px;
    border: 1px solid $accent;
    border-radius: 20px;
    padding: 20px 25px 20px 30px;
    color: $accent;
    font-size: 32px;
    cursor: pointer;
    &:focus {
      outline: 2px solid $accent;
      outline-offset: 4px;
    }
    &::after{
      content: '';
      display: block;
      width: 50px;
      height: 50px;
      background-image: url(../images/ui/minus.svg);
    }
    &.active{
      &::after{
        background-image: url(../images/ui/plus.svg);
      }
    }
  }
  &__panel{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  &__list{
    list-style-type: none;
    padding-left: 0;
    border: 1px solid $light;
    background-color: $light;
    border-radius: 20px;
  }
  &__item{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    font-weight: 200;
    padding: 30px 50px;
    color: $dark;
    
    &::before{
      content: '—';
    }
  }
}
.steps{
  border: 1px solid $light;
  border-radius: 50px;
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 150px;
  margin-top: 150px;
  background: linear-gradient(180deg, #1f2023 0%, #7027E2 50%, #1f2023 100%);
  &__list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 50px;
  }
    &__item{
      border: 1px solid $light;
      border-radius: 50px;
      padding: 30px;
      background-color: $light;
      color: $dark;
      font-size: 16px;
      letter-spacing: -0.008em;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      @media (hover: hover){
        &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  }
      }
      
    }
}
.result{
  margin-top: 150px;
  margin-bottom: 150px;
  &__list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 50px;
  }
  &__item{
    background-color: $light;
    border-radius: 20px;
    padding: 30px;
    transition: $tr;
    @media (hover: hover){
      &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    }
  }
    &._subgrid{
      grid-column: 2 / 5;
      display: grid;
      grid-template-columns: subgrid;
      align-items: center;
      grid-template-rows: 130px;
    }
  }
  &__text{
    color:$dark;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 150%;
    margin-top: 0;
    margin-bottom: 0;
    span{
      font-size: 24px;
      font-weight: 600;
      line-height: 110%;
      border-radius: 10px;
      background-color: $accent;
      width: fit-content;
      color: $light;
      padding: 10px;
    }
  }
  &__btn{
  grid-column: 2 / 4;
  border-radius: 20px;
  padding: 30px;
  background-color: $accent;
  font-weight: 600;
  font-size: 20px;
  color: $light;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 1px solid $accent;
  transition: $tr;
  align-items: stretch;
    cursor: pointer;
    @media(hover:hover){
      &:hover{
        background-color: transparent;
        color: $accent;
      }
    }
}
}
.areas{
  &__link{
    display: flex;
    padding: 30px;
    background-color: transparent;
    border-radius: 0;
    border-bottom: 1px solid $accent;
    color: $light;
    font-size: 32px;
    list-style: none;
    line-height: 150%;
    justify-content: space-between;
    align-items: center;
    transition: $tr;
    position: relative;
    margin-bottom: 30px;
    &:last-child {
    border-bottom: none;
    margin-bottom: 150px;
  }
    &::after{
      content: '';
      display: block;
      background-image: url(../images/ui/arrow-rotate.svg);
      background-repeat: no-repeat;
      background-size: contain;
      width: 40px;
      height: 40px;
      transition: $tr;
    }
    @media (hover: hover){
      &:hover{
      background-color: $accent;
      border-radius: 10px;
      &::after{
        transform: scale(1.2) rotate(45deg);
      }
      &::before{
        opacity: 1;
        transform: scale(1);
      }
    }
    }
    &::before{
        content: '';
        display: block;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: 769px;
        opacity: 0;
        transition: $tr;
        transform: scale(0);
    }
    &._acoustic{
      &::before{
        width: 568px;
        height: 314px;
        background-image: url(../images/areas/acoustic.png);
        top: calc(50% - 180px);
      }
    }
    &._drums{
      &::before{
        width: 474px;
        height: 474px;
        background-image: url(../images/areas/drums.png);
        top: calc(50% - 237px);
      }
    }
    &._violin{
      &::before{
        width: 568px;
        height: 528px;
        background-image: url(../images/areas/violin.png);
        top: calc(50% - 264px);
      }
    }
    &._bas{
      &::before{
        width: 586px;
        height: 394px;
        background-image: url(../images/areas/bas.png);
        top: calc(50% - 197px);
      }
    }
  }
}
.footer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  &__logo{
    margin-bottom: 30px;
  }
}
.footer__social{
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 5px;
}
.social{
  &__link{
    display: block;
    width: fit-content;
    max-width: 50px;
    height: fit-content;
    max-height: 50px;
    background-color: $light;
    border-radius: 10px;
    transition: $tr;
    
    @media (hover: hover){
      &:hover{
      background-color: $accent;
      &::after{
        background-color: $light;
      }
    }
    }
    &::after{
      content:'';
      display: block;
      background-color: $accent;
      mask: center center / 100% no-repeat;
      -webkit-mask: center center / 100% no-repeat;
      transition: $tr;
    }
      &._wa{
        padding: 7.87px 8.37px;
        &::after{
          width: 28px;
          height: 28px;
          mask-image: url(../images/social/wa.svg);
          -webkit-mask-image: url(../images/social/wa.svg);
        }
      }
    &._vk{
      padding: 14.06px 6.25px 10.94px 6.25px;
      &::after{
        width: 31.25px;
        height: 18.75px;
        mask-image: url(../images/social/vk.svg);
        -webkit-mask-image: url(../images/social/vk.svg);
        }
    }
    &._tg{
      padding: 10.94px 7.81px;
      &::after{
        width: 25px;
        height: 21.88px;
        mask-image: url(../images/social/tg.svg);
        -webkit-mask-image: url(../images/social/tg.svg);
        }
    }
  }
}
.footer-info{
  display: flex;
  flex-direction: column;
  &__text{
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  }
  &__link{
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    box-shadow: 0 4px 0 -3px $accent;
    @media (hover: hover){
      &:hover{
    box-shadow: 0 4px 0 -3px transparent;
    }
    }
  }
}

.footer-copy{
  display: flex;
  align-items: center;
  justify-content: end;
  &__text{
    font-size: 16px;
    margin-top: 20px;
  }
}